@import "../../../global.css";
.intro * {
  box-sizing: border-box;
}
.intro {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  color: white;
}
.intro .imgContainer {
  flex: 1;
}
.intro_img {
  width: 50%;
  margin: 20%;
}
.intro .right {
  flex: 1;
  position: relative;
  margin-top: 5%;
}
.intro .wrpper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  justify-content: center;
}
.intro .right h1 {
  font-size: 50px;
  margin: 10px 0;
  margin-left: -5%;
}
.intro .rigth h4 {
  font-size: 9px;
  text-align: center;
}
.intro .right h3 {
  font-size: 30px;
}
.intro span {
  color: #ffaa4c;
}
.intro .btn {
  margin-left: 10%;
}
.intro_button {
  border: 1px solid #fff;
  /* border: 1px solid var(--dark_blue); */
  border-radius: 30px;
  text-align: center;
  width: 250px;
  height: 25px;
  margin: 10px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  cursor: pointer;
}
.intro .intro_button:hover {
  background-color: var(--light_blue);
}
.intro .start {
  background-color: #ffaa4c;
}

.intro .btns {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 5%;
}
.intro .appsContainer {
  display: flex;
  flex-direction: row;
}
.intro .appsContainer #appsText {
  color: white;
  margin-top: 1px;
}
.intro .downloadBtn {
  transform: scale(0.9);
}
.intro .downloadBtn:hover {
  opacity: 0.7;
  transform: scale(0.8);
}
.intro .download_button {
  width: 100%;
  height: 40px;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .intro_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .intro .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25%;
  }
  .intro .wrapper .text {
    margin: 5%;
    align-items: center;
  }

  .intro .right h1 {
    font-size: 40px;
    text-align: center;
  }

  .intro .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .intro_button {
    border: 1px solid #fff;
    border-radius: 30px;
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 10px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    cursor: pointer;
    line-height: 100%;
  }
  .intro_button {
    border: 1px solid #fff;
    border-radius: 30px;
    text-align: center;
    width: 150px;
    height: 10px;
    font-size: 17px;
    cursor: pointer;
  }
  .intro .btns {
    margin-bottom: 5%;
  }

  .intro .right h1 {
    font-size: 30px;
  }
  .intro .right h4 {
    font-size: 15px;
    text-align: center;
  }
  .intro_button {
    text-align: center;
    width: 280px;
    height: 25px;
    margin: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .intro .wrapper .text {
    margin: 0%;
    align-items: center;
  }
  .intro .right h1 {
    font-size: 60px;
    text-align: center;
  }
  .intro .right h4 {
    font-size: 20px;
    text-align: center;
  }
  .intro .btns {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }
  .intro_button {
    text-align: center;
    width: 350px;
    height: 25px;
    margin: 10px;
  }
}
